* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    margin: 20px 0px;
}

ul li {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    list-style: none;
}

ul li:last-child {
    border-bottom: none;
}

ul li:hover {
    background-color: #b1b1b1;
}

body {
    margin-left: 15px;
}

.del-button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    margin: 10px auto;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.normal-buttons {
    background-color: #007bff;
    color: #fff;
    border: none;
    margin: 10px auto;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}